        .wrapper {
            color: white;
            height: auto;
            width: 300px;
        }

        #isi_post {
            width:1140px; 
            height: auto;
        }


            #judul{
        background-image: url("images/bg.jpg");
        margin-top: -20px;
        height: 500px;
        width: 100%;
        background-size: cover;
        margin-top: -40px;
        text-align: center;
        }
    #judul h1{
        padding-top: 110px;
        font-size: 60px;
        color: white;
        text-align: center;
    }

    #judul h2{
        font-size: 30px;
        color: white;
        text-align: center;
    }

    #konten h2{
        
        font-size: 300%;
    }

    #konten img{
        width: 100%;
    }
     input{
        border: 1px solid #333;
        border-radius: 2px;
     }
    footer{
        text-align: center;
        background: rgba(44, 62, 80,0.9);
        height: auto;
        padding: 30px 0px;
        color: #95a5a6;
        margin-bottom: 0px;
        position: ;
    }
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {

  .navbar{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px solid;
  }

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu .navbar-brand .navbar-header> li > a {
    color: red;
    background-color: #ccc;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu .navbar-header> li > a {
     color: #000;
   }
   .navbar-default .navbar-nav .open .dropdown-menu .navbar-header> li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu .navbar-header> li > a:focus {
     background-color: #fff;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}





/*Teks Link */

.box_jd{
    padding: 5px 15px;
    height: auto;
    background: rgba(44, 62, 80,0.8);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.kuis{
  background: #fff;
  padding: 5px 15px;
  margin-bottom: 10px;
  border-left: 6px solid #fff;
  border-bottom: 1px solid #3498db;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
}

.kuis:hover{
  border-left: 6px solid #3498db;
}

.jd_kuis{
  font-size: 20px;  
}

#box_tugas {
    padding: 2px 15px;
    background: transparent;
    color: #34495e;
    border-bottom: 1px solid #bdc3c7;
}

#box_tugas:hover {
    background: #e74c3c;
    color: #fff;
}

#box_siswa {
    padding: 2px 15px;
    background: transparent;
    color: #34495e;
    border-bottom: 1px solid #bdc3c7;
}

#box_siswa:hover {
    background: #2ecc71;
    color: #fff;
}

#box_nilai {
    padding: 2px 15px;
    background: transparent;
    color: #34495e;
    border-bottom: 1px solid #bdc3c7;
}

#box_nilai:hover {
    background: #3498db;
    color: #fff;
}

.panel_admin {
    margin-bottom: 20px;
    background: rgba(255,255,255,0.9);
    padding: 0px;
    height: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.panel_konten{
    margin-bottom: 20px;
    background: rgba(255,255,255,0.9);
    padding: 5px 30px;
    height: 800px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.bg_panel{
  padding: 0px;
}

.nav, .nav-tabs > li .nav > ul{
  border-radius: 0px;
}

.nav > li > a:focus, .nav > li > a:hover{
  background: #fff;
}

.nav-tabs > li > a:hover{
  border: 0px 0px 2px 0px solid #333; 
}